body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
}

.header-buttons {
    display: flex;
}

.header-button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 2px;
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.header-button:hover {
    background-color: #45a049;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

.button {
    display: inline-block;
    width: 200px;
    height: 100px;
    margin: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #45a049;
}

.footer {
    margin-top: 50px;
}

/* Добавляем стили для формы при редактировании профиля */
#editProfileForm {
    margin-top: 20px;
}

#editProfileForm label {
    margin-bottom: 8px;
}

#editProfileForm input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

#editProfileForm input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

#editProfileForm input[type="submit"]:hover {
    background-color: #45a049;
}
